@using ViFemWebShopV2.ViewModels
@model ShopCartVM[]
@{
    ViewBag.Title = "Checkout";
}



    <!-- /.container -->

    <div class="container">

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">Min
                        <strong>Kundvagn</strong>
                    </h2>
                    <hr>
                </div>
                <div class="box">
                    <div class="col-lg-12 text-center">
                        <h2 style="padding-bottom:20px">
                            Produkter
                        </h2>
                        <hr />
                        <p class="box">
                            Lägg in nedan kod för att visa varukorgen när modell finns
                            <br />
                            <br />
                            <a href="#" class="btn btn-default btn-lg">read more</a>
                        </p>
                        @*<table>
                <tr>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Quantity</th>
                </tr>
                @foreach (var item in Model)
                {
                <tr>
                    <td>@item.ProductName</td>
                    <td>@item.Price</td>
                    <td>@item.Quantity <a href="#">+</a><a href="#">-</a></td>
                </tr>
                 @*}
                </table>*@

                    </div>
                </div>
                <br />
                <br />
                <div class="box">
                    <div class="col-lg-12 text-center">
                        <h2 style="padding-bottom:20px">
                            Välj leveranssätt
                        </h2>
                        <hr />
                        <h4>Leveransadress</h4>
                        <p>Angiven leveransadress från Min profil. Ev möjlig att ändra?</p>
                        <br />
                        <h4>Leveranssätt</h4>
                        <br>
                            <input type="radio" name="radiolev" value="" /> Standardleverans (3-5 dagar)<br />
                            <input type="radio" name="radiolev" value="" /> Expressleverans (1-2 dagar)<br />
                        <br />
                            <a href="#" class="btn btn-default btn-lg">read more</a>
                    </div>
                </div>
                <br />
                <div class="box">
                    <div class="col-lg-12 text-center">
                        <h2 style="padding-bottom:20px">
                            Välj betalningssätt
                        </h2>
                        <hr />
                        <br>
                            <input type="radio" name="radio" value=""/> Faktura<br/>
                            <input type="radio" name="radio" value="" /> Kortbetalning<br/>
                            <input type="radio" name="radio" value="" /> Internetbank<br />
                            <input type="radio" name="radio" value="" /> Bitcoin<br />
                            <br />
                            <a href="#" class="btn btn-default btn-lg">read more</a>
                        <br />
                        <br />
                        <img class="img-responsive img-border img-full" src="~/img/bitcoin-accepted.png" alt="">
                    </div>
                </div>
                <div class="col-lg-12 text-center">
                    <ul class="pager">
                        <li class="btn-default" style="font-size:x-large"><a href="#" style="color:black">Betala & skicka beställning</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>


