@{

    ViewBag.Title = "Kontorsprylar AB Webbshop";
    Layout = "~/Views/Shared/_Layout";
}

<script>
    $(document).ready(function () {
        $('.carousel').carousel({
            interval: 5000 //changes the speed
        })
    });
</script>



    <div class="row">
        <div class="box">
            <div class="col-lg-12 text-center">
                <div id="carousel-example-generic" class="carousel slide">
                    <!-- Indicators -->
                    <ol class="carousel-indicators hidden-xs">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <img class="img-responsive img-full" src="http://cdn1.cdnme.se/4234936/6-3/large_1_537075f92a6b221655bda3eb.jpg" alt="">
                        </div>
                        <div class="item">
                            <img class="img-responsive img-full" src="http://nouwcdn.com/7/1050000/1040000/1030626/pics/201512011174901030626_sbig.jpg?width=900" alt="">
                        </div>
                        <div class="item">
                            <img class="img-responsive img-full" src="http://nouwcdn.com/7/1050000/1040000/1030626/pics/2015120112040601030626_sbig.jpg" alt="">
                        </div>
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                        <span class="icon-prev"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                        <span class="icon-next"></span>
                    </a>
                </div>
                <h2 class="brand-before">
                    <small>Welcome to</small>
                </h2>
                <h1 class="brand-name">Kontorsprylar AB</h1>
                <hr class="tagline-divider">
                <h2>
                    <small>
                        By
                        <strong>Vi5</strong>
                    </small>
                </h2>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">
                    Om oss
                    <strong> Den mest hypade webshoppen för kontorsprylar</strong>
                </h2>
                @*<img class="img-responsive img-border img-left" src="~/img/intro-pic.jpg" alt="">
                <hr class="visible-xs">*@
                <hr />
                <p>Vi brinner för kontor, kontorsmaterial och kontorsmänniskor! </p>
                <p>Tack vare höga ambitioner har vi tagit oss hela vägen från Gemträsk till Beverly Hills där vi fortsätter att inspirera och influera kontorslivet genom våra högkvalitativa och stilrena kontorsprodukter.</p>
                <p>Besök gärna vår butik så berättar vi mer om hur Du skapar Ditt drömkontor!</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">
                    Om våra produkter
                    <strong> Lite finare kontorsprodukter, för lite finare kontor</strong>
                </h2>
                <hr>
                <p>Vi tror att kontorsmaterial "is a way of life", och på samma sätt kommer ditt val av kontorsprodukter att spegla dina val i livet.</p>
                <p>Satsa på högkvalitativa produkter och vi garanterar att du kommer framstå en framgångsrik företagare!</p>
                <p>It's true what they say; Fake it 'til you make it!</p>
            </div>
        </div>
    </div>

