<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewBag.Title</title>
    <!-- jQuery -->
    <script src="/scripts/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/scripts/bootstrap.js"></script>
    @RenderSection("script", false)

    <!-- Bootstrap Core CSS -->
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom CSS -->
    <link href="~/css/business-casual.css" rel="stylesheet" />

    <!-- Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

    <div class="brand">Kontorsprylar AB</div>
    <div class="address-bar">3481 Melrose Place | Beverly Hills, CA 90210 | 123.456.7890</div>

    <!-- Navigation -->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
                <a class="navbar-brand" href="/shared/_layout">Kontorsprylar AB</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>      
                        <a href="/shop/index" type ="button">Hem <span class="glyphicon glyphicon-home"></span></a>
                    </li>
                    <li>
                        <a href="/shop/products" type ="button" data-toggle="dropdown">Produkter <span class="glyphicon glyphicon-pencil"></span><span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/shop/products" class="glyphicon glyphicon-file"> Papper & Block</a></li>
                            <li><a href="/shop/products" class="glyphicon glyphicon-pencil"> Pennor & Ritmaterial</a></li>
                            <li><a href="/shop/products" class="glyphicon glyphicon-folder-open"> Sortering & Förvaring</a></li>
                            <li><a href="/shop/products" class="glyphicon glyphicon-envelope"> Kuvert Post & Emballage</a></li>
                            <li><a href="/shop/products" class="glyphicon glyphicon-calendar"> Almanackor & Kalendrar</a></li>
                            <li><a href="/shop/products" class="glyphicon glyphicon-scissors"> Skrivbordstillbehör</a></li>
                            <li><a href="/shop/products" class="glyphicon glyphicon-blackboard"> Konferens & Presentation</a></li>
                        </ul>  
                    </li>
                    <li>
                        <a href="/shop/contact" type ="button">Kontakt <span class="glyphicon glyphicon-envelope"></span></a>
                    </li>
                    <li>
                        <a href="/shop/kundvagn" type ="button" data-toggle="dropdown">Kundvagn <span class="glyphicon glyphicon-shopping-cart"></span><span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li> Produkt 1</li>
                            <li> Produkt 2</li>
                            <li> Produkt 3</li>
                            <li><a href="/shop/kundvagn" class="glyphicon glyphicon-piggy-bank"> Gå till checkout</a></li>
                        </ul>
</li>
                    <li>
                        <a href="/shop/index" type ="button" data-toggle="dropdown">Mitt konto <span class="glyphicon glyphicon-user"></span><span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/shop/index" class="glyphicon glyphicon-edit"> Registrera konto</a></li>
                            <li><a href="/admin/login" class="glyphicon glyphicon-log-in"> Logga in</a></li>
                        </ul>  
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <div class="container">
        @RenderBody()
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>Copyright &copy; Vi5</p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
