@using ViFemWebShopV2.ViewModels
@model AddProductVM
@addTagHelper "*,Microsoft.AspNet.Mvc.TagHelpers"

@{
    ViewBag.Title = "Add Product";
    Layout = "~/Views/Shared/_LayoutAdmin";

}


<div class="row">
    <div class="box">
        <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">
                Enter the information about
                <strong>the product</strong>
            </h2>
            @*<div asp-validation-summary="ValidationSummary.All"></div>*@
            <div class="text-center">
                <table align="center">
                    <form asp-controller="Admin" asp-action="AddProduct">
                        <tr>
                            <td>
                                <label asp-for="Name"></label>
                            </td>
                            <td>
                                <input asp-for="Name" />
                                <span asp-validation-for="Name"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label asp-for="Stock"></label>
                            </td>
                            <td>
                                <input asp-for="Stock" />
                                <span asp-validation-for="Stock"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label asp-for="Price"></label>
                            </td>
                            <td>
                                <input asp-for="Price" />
                                <span asp-validation-for="Price"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label asp-for="Description"></label>
                            </td>
                            <td>
                                <input asp-for="Description" />
                                <span asp-validation-for="Description"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label asp-for="Category"></label>
                            </td>
                            <td>
                                <input asp-for="Category" />
                                <span asp-validation-for="Category"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label asp-for="ImageURL"></label>
                            </td>
                            <td>
                                <input asp-for="ImageURL" />
                                <span asp-validation-for="ImageURL"></span>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <input type="submit" value="Add new product" />
                            </td>
                        </tr>
                    </form>
                </table>
            </div>
        </div>
    </div>
</div>
@section script{
    <script src="~/scripts/jquery.validate.js"></script>
    <script src="~/scripts/jquery.validate.unobtrusive.js"></script>
}
